@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
html {
    height: 100%;
}
:root {
    --vio: #3a1c71;
    --mist: #d76d77;
    --sal: #ffaf7b;
}
body {
    background-color: rgb(250, 250, 250);
    height: 100%;
    background-color: #fff;
}
.ad-holder {
    display: flex;
    min-height: 100%;
}

.ad-sidebar {
    display: block;
    /* min-height: 100%; */
    width: 250px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

    height: 130%;
    position: fixed;
}

.sidebar-toggler {
    display: none;
}

.ad-side {
    width: 250px;
    /* position: fixed; */
    /* position: relative; */
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 30%;
}
.ad-side ul li {
    list-style: none;
    margin: 10px 10px;
}
.ad-side ul li a {
    display: inline-flex;
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    color: #333;
    color: #fff;
    transition: 0.3s linear;
    background-color: white;
    background-color: #999;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.ad-side ul li a:hover {
    background-color: #555;
    color: #fff;
}
.ad-container {
    display: block;
    width: calc(100% - 250px);
    left: 250px;
    position: absolute;
}

@media (max-width: 1000px) {
    .sidebar-toggler {
        display: flex;
        width: 32px;
        height: 32px;
        position: absolute;
        left: 260px;
        top: 10px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .sidebar-toggler div {
        width: 28px;
        height: 4px;
        background-color: #555;
    }
    .ad-sidebar {
        position: fixed;
        z-index: 4;
        transition: 0.3s linear;
        left: -250px;
        transition: 0.3s linear;
    }
    .ad-sidebar-active {
        left: 0;
    }
    .ad-container {
        margin-top: 42px;
        width: 100%;
        left: 0;
    }
}
