
RewriteEngine on
#ErrorDocument 404 /webtech/notefused/
#ErrorDocument 403 /webtech/notefused/


#Redirect 301 /webtech/notefused/mynotes.html  /webtech/notefused/mynotes
Redirect 301 /webtech/notefused/index.php  /webtech/notefused/
#why this only works with full directory??why not regex??


RewriteRule ^go$  short.php [L]
RewriteRule ^go.html$  short.php [L]
RewriteRule ^go.php$  short.php [L]
RewriteRule ^mynotes.html$ mnotes.php [L]
RewriteRule ^([a-z0-9]*)$   index.php?id=$1 [L]
RewriteRule ^go/([a-z0-9]+)$  urlredirector.php?id=$1 [L]
RewriteRule ^file/([a-z0-9]+)$  downloader.php?id=$1 [L]

