
RewriteEngine on
#ErrorDocument 404 /webtech/notefused/
#ErrorDocument 403 /webtech/notefused/


#Redirect 301 /webtech/notefused/mynotes.html  /webtech/notefused/mynotes
#Redirect 301 /webtech/notefused/index.php  /webtech/notefused/
#why this only works with full directory??why not regex??




RewriteRule ^settings$  views/settings.php [L]

RewriteRule ^registration$  views/reg.php [L]

RewriteRule ^login$  views/login.php [L]


RewriteRule ^mynotes$  views/mnotes.php [L]


RewriteRule ^file$  views/file.php [L]
RewriteRule ^myfiles$  views/myfiles.php [L]

RewriteRule ^go$  views/short.php [L]
RewriteRule ^myurls$  views/myurls.php [L]



#admin

RewriteRule ^dashboard$  views/dashboard.html [L]
RewriteRule ^planmoderation$  views/planmoderation.php [L]









#RewriteRule ^go.html$  short.php [L]
RewriteRule ^go.php$  short.php [L]

#RewriteRule ^mynotes.html$ mnotes.php [L]

RewriteRule ^([a-z0-9]*)$   index.php?id=$1 [L]
#RewriteRule ^go/([a-z0-9]+)$  urlredirector.php?id=$1 [L] #abandoned

RewriteRule ^go/([a-z0-9]+)$  controllers/urlredirectormodule.php?id=$1 [L]
#RewriteRule ^file/([a-z0-9]+)$  downloader.php?id=$1 [L] #abandoned
#RewriteRule ^file/([a-z0-9]+)$  handlers/myfileshandler.php?id=$1 [L] #before mvc
RewriteRule ^file/([a-z0-9]+)$  controllers/myfileshandler.php?id=$1 [L]

php_value upload_max_filesize 10M
php_value post_max_size 11M
php_value max_input_time 300
php_value max_execution_time 300