@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
}
html {
    -ms-overflow-style: -ms-autohiding-scrollbar; /*to hide scrollbar in IE*/
}
.container {
    display: flex;
    /* position: absolute; */
    width: 100%;
    background-color: white;
    z-index: -1;
    padding: 35px;
}
.sidebar {
    width: 20%;
    margin-right: 20px;
    /* display: inline-block; */
    float: left;
}
.sidemenu {
    position: sticky;
    top: 0;
}
.dashboard {
    width: 100%;
    border: 1px solid rgb(218, 218, 218);
    background-color: #ffffff;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.1);
    color: #444;
}
.dashboard progress {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    height: 32px;
}
progress::-webkit-progress-bar {
    background-color: #ececec !important;
}
progress::-webkit-progress-value {
    background: -webkit-linear-gradient(120deg, #d76d77, #ffaf7b);
}

.dashboard div {
    padding: 10px 10px;
}

.dashboard .dash-head {
    width: 100%;
    height: 48px;
    text-align: center;
    line-height: 24px;
    color: #d76d77;
    /* background: -webkit-linear-gradient(120deg, #bdbdbd,#ffffff);
    background: -ms-linear-gradient(120deg,#bdbdbd,#ffffff); */
    background-color: #f5f5f5;
    background-position: left;
    background-size: 200%;
    transition: all 0.7s ease;
    overflow: hidden;
    border: none;
    /* box-shadow: 3px 5px 7px rgba(0,0,0,0.30); */
    font-size: 1.5em;
    outline: none;
}

.dashboard div span {
    color: #d76d77;
    font-size: 1.2em;
    margin-left: 10px;
}
.note-lists {
    background-color: rgb(255, 255, 255);
    /* overflow-x: scroll; */
    width: 80%;
}
/* .note-lists ul {
    list-style: none;
    list-style-type: none;
    padding: 20px;
    padding-top: 0;

} */

/* .note-lists ul li {
    background-color: yellow;
    height: 80px;
}

.unit {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.unit div {
    margin: 10px;
    background-color: wheat;
    height: 75px;
} */

table {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    margin-top: -1em;
}

tr {
    /* background-color: wheat; */
    /* margin: 20px 0; */
    /* display: block;
    width: 100%; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.1);
    transition: 0.2s linear;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid #d76d77;
}
thead #delete {
    border-right: 1px solid #d76d77;
}

thead #noteid {
    color: #fff;
    background-color: #d76d77;
}

.head {
    box-shadow: 0px 3px 15px -3px rgba(0, 0, 0, 0.6);
}
th {
    color: rgb(66, 66, 66);
    text-align: center;
}
.head #lastVisit {
}
.head #lastEdit {
}
.head #expire {
}
.head #textcontent {
}
.head #share {
}
.head #download {
}
.head #delete {
}
th,
td {
    padding: 20px 10px;
}
td {
    /* border-bottom: 1px solid #ddd; */
    text-align: center;
    color: #555;
}

tr:hover {
    box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 0.6);
}

#noteid {
    background-color: #d76d7710;
    color: #d76d77;
    font-weight: 600;
    max-width: 120px;
}
#noteid .sub-unit {
    word-break: break-all;
    width: 100%;
    text-align: center;
}

#lastVisit {
    /* background-color: wheat; */
}
#download a {
    color: rgb(92, 167, 92);
}
#delete a {
    color: rgb(240, 124, 124);
}
#share a {
    color: rgb(85, 197, 241);
    font-size: 1.4em;
}

@media only screen and (max-width: 800px) {
    .sidebar {
        display: none;
        margin-right: 0;
    }
    .container {
        padding: 10px;
    }
    .note-lists {
        width: 100%;
        /* overflow-x: scroll; */
        margin: 0;
    }

    thead {
        display: none;
    }

    /* .container {
        display: block;
    } */
    table {
        display: block;
    }
    tr {
        display: inline-block;
        /* margin: 8px; */
        /* border: 1px solid rgb(0, 0, 0); */
        /* border-left: 1px solid #ffaf7b;
        border-right: 1px solid #d76d77;
        border-bottom: 1px solid #d76d77; */

        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4),
            0px 0px 1px rgba(0, 0, 0, 0.1);

        width: 100%;
        margin: 10px 0;
    }
    td {
        display: block;
        float: left;
        width: 100%;
    }

    #noteid {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        background: -webkit-linear-gradient(120deg, #d76d77, #ffaf7b);
        color: white;
        max-width: 100%;
    }

    #lastEdit,
    #lastVisit,
    #expire {
        display: inline-block;
        width: calc(100% / 3);
        /* min-width: 80px; */
        height: 60px;
        float: left;
        position: relative;
        border-bottom: 1px solid rgb(233, 233, 233);
    }
    #lastVisit {
        border-left: 1px solid rgb(233, 233, 233);
        border-right: 1px solid rgb(233, 233, 233);
    }
    #lastEdit .sub-unit,
    #lastVisit .sub-unit,
    #expire .sub-unit {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    #lastEdit::before,
    #lastVisit::before,
    #expire::before {
        position: absolute;
        top: 2px;
        left: 0;
        /* background-color: lightgoldenrodyellow; */
        width: 100%;
        color: #999;
    }
    #lastVisit::before {
        content: 'Last Visited';
    }
    #lastEdit::before {
        content: 'Last Edited';
    }
    #expire::before {
        content: 'Expiration';
    }

    #privacy {
        height: 10px;
        position: relative;
        border-bottom: 1px solid rgb(233, 233, 233);
        /* background-color: rgb(250, 250, 250); */
    }
    #textcontent {
        background-color: rgb(245, 245, 245);
    }
    #textcontent .sub-unit {
        display: inline-block;
        width: 100%;
        word-wrap: break-word;
        /* word-break: break-all; */
        word-break: normal;
        overflow-wrap: break-word;
    }
    #privacy .sub-unit {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    #share,
    #download,
    #delete {
        display: inline-block;
        width: calc(100% / 3);
        height: 60px;
        float: left;
        position: relative;
        border-bottom: 1px solid rgb(233, 233, 233);
    }

    #share a {
        position: relative;
        line-height: 20px;
    }

    /* thead,
    th,
    table,
    tr,
    td,
    tbody,
    td p table div,
    table table {
        width: 100% !important;
        float: left;
        clear: both;
        display: block;

        text-align: center;
    } */
}
